body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.c-nav__logo {
  float: left;
  width: 100px;
}

.c-nav__icons--icon {
  width: 25px;
}

/* ~~ Top Navigation Bar ~~ */
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.c-navigation-bar {
  height: 70px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1030px) {
  .c-navigation-bar {
    text-align: left;
  }
}

@media screen and (max-width: 780px) {
  .c-navigation-bar {
    margin-left: 10rem;
  }
}

.c-navigation-bar img {
  float: left;
}

.c-navigation-bar ul {
  padding: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.c-navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

@media screen and (max-width: 780px) {
  .c-navigation-bar li {
    display: block;
  }
}

.c-navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
  text-decoration: none;
}

#menu {
  float: right;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.c-banner {
  margin-top: 10rem;
  text-align: center;
  height: 80%;
}

.c-banner img {
  position: absolute;
  display: block;
  margin-left: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
  height: 35rem;
  z-index: -1;
}

.c-banner__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-left: 35rem;
  margin-top: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1530px) {
  .c-banner__content {
    margin-left: 20rem;
  }
}

@media screen and (max-width: 1130px) {
  .c-banner__content {
    margin-left: 15rem;
  }
}

@media screen and (max-width: 970px) {
  .c-banner__content {
    margin-left: 0rem;
  }
}

.c-banner__btn {
  background-color: #FFE500;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
}

.c-banner__btn a {
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
}

.c-banner__btn a:hover {
  color: black;
}

.c-banner__btn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.c-banner__btn a:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.4)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.c-banner__btn a:hover:after {
  left: 100%;
}

.c-banner__btn a span {
  position: absolute;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.c-banner__btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.c-banner__btn a:hover span:nth-child(1) {
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.c-banner__btn a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.c-banner__btn a:hover span:nth-child(3) {
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.c-banner__btn a span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.c-banner__btn a:hover span:nth-child(2) {
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.c-banner__btn a span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.c-banner__btn a:hover span:nth-child(4) {
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.c-footerrow2 {
  margin-top: 2.5rem;
  margin-left: 46%;
  position: absolute;
  display: -ms-grid;
  display: grid;
}

.c-footerrow2 a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1530px) {
  .c-footerrow2 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .c-footerrow2 {
    margin-left: 6rem;
    margin-top: 22rem;
  }
}

@media screen and (max-width: 500px) {
  .c-footerrow2 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-left: 6rem;
    margin-top: 22rem;
  }
}

.c-footerrow2--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  margin-left: 3.5rem;
}

.c-footerrow2--col__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.c-footerrow2--col__social svg {
  width: 70%;
}

.c-footer {
  overflow: hidden;
  margin-top: 10rem;
  background-color: #1F1D1E;
  padding-bottom: 2rem;
}

.c-footer ul, .c-footer li {
  list-style-type: none;
  padding-top: 1rem;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.c-footer ul :hover :hover, .c-footer li :hover :hover {
  color: #FFE500;
  text-decoration: underline;
}

.c-footer ul a, .c-footer li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 70px;
  padding: 5px 15px;
}

@media screen and (max-width: 970px) {
  .c-footer ul, .c-footer li {
    padding-top: 0rem;
    display: block;
    margin-left: 3rem;
    text-align: left;
  }
}

@media screen and (max-width: 970px) {
  .c-footer {
    padding-bottom: 20rem;
    padding-left: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .c-footer {
    padding-bottom: 25rem;
    padding-left: 5rem;
  }
}

.c-footer hr {
  margin-left: 12rem;
  width: 82%;
  border: 0.5px solid #FFE500;
}

.c-footer__logo {
  margin-left: 10rem;
}

@media screen and (max-width: 1270px) {
  .c-footer__logo {
    margin-left: 0rem;
  }
}

.c-homecategory {
  padding-bottom: 2rem;
  margin-top: 55rem;
  margin-left: 8rem;
}

.c-homecategory__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 996px) {
  .c-homecategory__row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.c-homecategory__row--col {
  text-align: center;
  width: 80%;
  height: 80%;
}

.c-homecategory__row--col img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

.c-btn {
  position: absolute;
  margin-top: 18rem;
  margin-left: 8%;
  background-color: #FFE500;
  border: none;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
}

.c-btn a {
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.c-btn a:hover {
  color: grey;
}

.c-btn a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.c-btn a:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.1)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.c-btn a:hover:after {
  left: 100%;
}

.c-btn a span {
  position: absolute;
  display: block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.c-btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.c-btn a:hover span:nth-child(1) {
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.c-btn a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.c-btn a:hover span:nth-child(3) {
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.c-btn a span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.c-btn a:hover span:nth-child(2) {
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.c-btn a span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}

.c-btn a:hover span:nth-child(4) {
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  border-radius: 15px;
  height: 10rem;
}

.c-productoverview__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-left: 15rem;
  margin-right: 5rem;
  padding-bottom: 5rem;
  grid-gap: 30px;
}

@media screen and (max-width: 1450px) {
  .c-productoverview__row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.c-productoverview__row--col {
  text-align: center;
  width: 20rem;
}

.c-productoverview__row--col img {
  width: 15rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
  z-index: -1;
}

.btn {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/*# sourceMappingURL=screen.css.map */