.c-detail{
    
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 5rem;

    &__row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        &--col{
            & img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            &--row2{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                
                &-col{
                    & img{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    &__form{
        & select{
            width: 17rem;
        }
        
        &--btn{
            background-color: #FFE500;
            border: 0;
            margin-left: 2rem;
            width: 10rem;
            height: 2rem;
            
        }
    }
}
.c-relatedproducts{
    text-align: center;
    & h1{
        padding-bottom: 3rem;
    }
}