.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    border-radius: 15px;
    height:10rem;
  }


  .c-productoverview{
    
    margin-left: 8rem;
    margin-right: 70rem;
    &__introtext{
      margin-left: 95rem;
      width: 5rem;
      display: flex;
      flex-direction: row;
      
      
      & form{
       margin-left: 3rem;
       margin-top: 1rem;
      }
    }
    &__row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 15rem;
        margin-right:  15rem;
        padding-bottom: 5rem;
        grid-gap: 15px;
        @media screen and (max-width: 1450px) {
          grid-template-columns: repeat(3, 1fr);
          margin-left: 5rem;
          //margin-right:  5rem;
      }
    &--col{
   text-align: center;
    width: 20rem;


    & img{
        width: 15rem;
        height: 20rem;
        object-fit: cover;
        object-position: 50% 30%;
        z-index: -1;
    }
    }
    }
    & button{
      background-color: #FFE500;
    }
  }
.c-btncontainer{
padding-bottom: 6rem;
}

  .btn {
    //display: block;
    margin-left: 10rem;
    margin-top: 0rem;
    width: 10rem;
    height: 3rem;
    padding-bottom: 1rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 2px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    & svg{
      width: 65%;
    }
    &:hover{
      background-color: grey;
    }
  }